/*This selector selects all elements on the sheet.*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*This selector formats the body section color.*/
body {
    background-color: #d9dcd6;
}
/*This selector formats the header section.*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*This selector formats the header text of the header section.*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*This selector formats the header text of the header section.*/
.header h1 .seo {
    color: #d9dcd6;
}
/*This selector formats the navigation bar.*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*This selector formats the navigation bar list items*/
.header nav ul {
    list-style-type: none;
}
/*This selector formats the navigation bar list items.*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*This selector formats the navigation bar links.*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*This selector formats all paragraph tag content.*/
p {
    font-size: 16px;
}
/*This selector formats the 'hero' image.*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*This selector formats the 'body' text.*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*This selector formats the 'body' text.*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*Formatting for the 'content' class.*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*This is the consolidated 'benefits' section formatting.*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}
/*Benefits section for header formatting.*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Benefits section for images formatting.*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Formatting for first paragraph.*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Formatting for second paragraph.*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Formatting for third paragraph.*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Formatting for all 'content' section images.*/
.content img {
    max-height: 200px;
}
/*Formatting for 'content' header.*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Formatting for the page footer.*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Formatting for the footer header.*/
.footer h2 {
    font-size: 20px;
}
